

body {
	margin:0;
}
* {
	box-sizing: border-box;
}
ul {
	margin:0;
	padding:0;
	list-style:none;
}

a {
	text-decoration:none;
}
p {
	margin:0;
}
h1,h2,h3 {
	margin :0;
}
.wrapper {
	margin:0 auto;
	width:1280px;
} 

.block-menu {
	height: 1206px;
	box-sizing: border-box;
	background-color: #212121;
	padding-top: 88px;
}
.box-menu {
	margin:0 118px 0 81px;
	width: 1080px;
	height: 1030px;
	background-color: #45493b;
	&__titul {
		padding-top: 65px;
		text-align: center;
		&__subject {
			margin-top: 8px;
			font-family: "Montserrat";
			font-weight: 300;
		    font-style: normal;
		    font-size: 42px;
		    line-height: 36px;
		    color: #eaeaea;
		}
	}

}
.titul-text {
	font-family: 'GoodDog Cool';
	font-weight: normal;
	font-style: normal;
	font-size: 45px;
	line-height: 38px;
	color: #afc67b;
}
.box-menu__menu {
	display: flex;
	flex-wrap:wrap;
	padding-top: 61px;
	&__card {
		width: 270px;
		height: 274px;
		text-align: center;
		&__font-title {
			margin-top: 63px;
		}
		&__text-description {
			font-family: 'Myriad Pro';
			font-weight: normal;
    		font-style: normal;
    		font-size: 16px;
    		color: #e8e8e8;
    		width: 145px;
    		margin:25px auto 0 auto;
		}
		&__price {
			display: block;
			font-family: 'GoodDog Cool';
			font-weight: normal;
	    	font-style: normal;
	    	font-size: 25px;
	    	line-height: 20px;
	    	color: #e8e8e8;
	    	margin-top: 16px;
		}
	}
}